*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.5s ease;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #dfdfdf;
}

section{
    padding-bottom: 0px !important;
}

header{
    overflow: hidden;
    text-align: center;
    padding: 10px 20px 10px 20px;
    background-color: #4379bd;
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-columns: 33% 33% 33%;
    white-space: nowrap;
}
header div:first-child{
    justify-self: left;
    display: contents;
}
header div:last-child{
    justify-self: right;
    cursor: pointer;
    display: inline-grid;
}
header div:last-child a{
    font-size: 1rem;
    font-family: system-ui;
    font-weight: 500;
    color: #113158;
    cursor: pointer;
}
header div{
    display: -ms-inline-grid;
}
header div svg{
    width: 1.5rem;
    cursor: pointer;
    overflow: visible;
}

header div svg:hover circle:first-child{
    transform: translateY(-65px);
}
header div svg:hover circle:last-child{
    transform: translateY(65px);
}
header div svg:hover circle:nth-child(2){
    transform: translateX(-65px);
}
header div svg:hover circle:nth-child(3){
    transform: translateX(65px);
}


header h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    letter-spacing: 1px;
}

.beta{
    font-size: 0.7rem;
    color: #bad8fd;
}

#modeClick:hover{
    transform: scale(0.9);
}

#burger.active{
    fill: #b9d8ff;
    transform: scale(0.98);
}

svg.start:hover circle:first-child{
    transform: translateY(-65px);
}
svg.start:hover circle:last-child{
    transform: translateY(65px);
}
svg.start:hover circle:nth-child(2){
    transform: translateX(-65px);
}
svg.start:hover circle:nth-child(3){
    transform: translateX(65px);
}
svg.active circle:first-child{
    animation: shrinkOnce 0.5s ease;
}
svg.active circle:last-child{
    animation: shrinkOnce 0.5s ease;
}
svg.active circle:nth-child(2){
    animation: shrinkOnce 0.5s ease;
}
svg.active circle:nth-child(3){
    animation: shrinkOnce 0.5s ease;
}

svg.active:hover circle{
    transform: none !important;
}


@keyframes shrinkOnce{
    0%{
    }100%{
        transform: translateY(0px) translateX(0px);
    }
}


.menu{
    backdrop-filter: blur(4px);
    background: rgb(255 255 255 / 65%);
    width: 250px;
    height: 100%;
    position: absolute;
    top: 46px;
    left: -300px;
    z-index: 2;
    display: grid;
    padding: 0px;
    transition-duration: 0.3s ease;
}


.menu.open{
    left: 0px;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    padding: 20px;
    color: #525252;
    border-bottom: inset;
    border-bottom-color: #00000017;
    border-bottom-width: thin;
    font-size: 1rem;
    cursor: pointer;
}
.mlist li:hover{
    background: #4379bd29;
    transform: scale(0.98);
}

.mlist li{
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}
.mlist li svg{
    width: 30px;
    margin-right: 10px;
    fill: #4379bd;
}

ul.menuF{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

ul.menuF li{
    font-size: 1rem;
    margin: 0px;
}
ul.menuF li:hover{
    transform: scale(0.9);
}
.socials{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
}
.socials li{
    padding: 0px 20px !important;
}
.socials li:hover{
    transform: scale(0.95);
}
.socials svg{
    width: 20px;
}


/*Menu button activeness*/
.mlist li.active{
    color: #4379bd;
    pointer-events: none;
}


section#container{
    padding: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align-last: center;
}
section#container{
    padding: 20px;
    text-align: center;
    overflow-y: scroll;
    margin-bottom: 6rem;
}
section#container.out{
    transform: scale(0.98);
    filter: blur(2px) contrast(0.8);
    pointer-events: none;
}
.category{
    width: 80%;
    text-align: -webkit-center;
    background: white;
    padding: 30px;
    border-radius: 10px;
    margin: 20px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
    overflow: hidden;
    position: relative;
    height: 220px;
    transition: 0.5s ease;
}
.category.showCapture{
    height: 300px;
}

@media (min-width:800px) {
    .category{
        width:unset;
    }
}
.category:hover{
    transform: scale(1.01);
    box-shadow: -11px 18px 18px rgb(0 0 0 / 10%);
}
section#container h1{
    font-weight:normal;
    letter-spacing: 1px;
}

.imageH{
    color: #70b164;
}
.audioH{
    color: #dd6830;
}

.captureS{
    opacity: 0;
    display: grid;
    grid-auto-flow: column;
    width: 50%;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    border-top: none;
}
.captureS.beGrid{
    opacity: 1;
    animation: slideDown 0.5s ease;
 }
 
 .ic.rotateDown{
     transform: rotateZ(90deg);
 }
 
 @keyframes slideDown {
     0%{
         transform: translateY(-20px);
         opacity: 0;
     }
     50%{
         opacity: 0.5;
     }
     100%{
         opacity: 1;
         transform: translateY(0px);
     }
 }
.capture-list{
    filter: grayscale(1) brightness(0.7);
    cursor: pointer;;
}
.capture-list img{
    width: 25px;
    transition-duration: 0.3s ease;
}

.capture-list h3{
    font-size: 0.8rem;
    color: #70b164;
    font-weight: normal;
}

.capture-list:hover{
    filter: grayscale(0) brightness(0.7);
    transform: scale(1.03);
}

.category.a .cs{
    top: 0;
    position: absolute;
    right: 0;
    padding: 5px 10px;
    font-size: 0.7rem;
    background: #4379bd;
    border-bottom-left-radius: 10px;
    font-weight: 400;
    color: white;
}

#captureIcon svg{
    transform: scale(1);
    transition-duration: 0.3s;
}
#captureIcon.on svg, #captureIcon.on p{
    color: #626262;
    fill: #626262;
    transition: 0.5s ease;
}


.plantDesc, .plantDesc div, .audioDesc, .audioDesc div{
    background: none !important;
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: fit-content;
    margin: 5px 0px 0px 0px;
}
.plantDesc svg{
    width: 50px;
    fill: #999999;
    transition: 0s !important;
}
.audioDesc svg{
    fill: #999999;
    width: 50px;
    transition: 0s !important;
}
.steps{
    color: #999999;
    font-size: 0.7rem;
}

@media (max-width:600px) {
    .plantDesc, .plantDesc div, .audioDesc, .audioDesc div{
        margin: 5px 0px 10px 0px;
    }

    .steps{
        position: absolute;
        top: 125px;
    }

    .captureS{
        width: 80%;
    }

}
@media (max-width:320px) {
    .plantDesc, .audioDesc{
        display: unset;
    }
    .steps{
        position:unset;
    }
}


.goBtn.ic{
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    background-color: #70b164;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.goBtn.ac{
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    background-color: #dd6830;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    position: relative;
    transition: 0.3s ease-in-out;
}

.goBtn:hover>a{
    animation: moveR 0.5s ease;
}

.goBtn a{
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-family: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}



.line{
    background: #5b8d52;
    width: 0%;
    height: 2px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.line.on{
    width: 100%;
}

.category:hover .line{
    width: 100%;
    transition: 1s ease;
}

.line2{
    background: #dd6830;
    width: 0%;
    height: 2px;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.line2.on{
    width: 100%;
}

.category:hover .line2{
    width: 100%;
    transition: 1s ease;
}

@media (min-width:800px) {
    .category{
        width: 45%;
    }
}



/*Saved Section*/
.sectionTitle{
    text-align: center;
    color: #525252;
    padding: 30px 0px 5px;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 1px;
}
.sectionClass hr{
    width: 65px;
    margin: auto;
    border: 1px solid #4379bd;
}
